<!-- Main navigation list -->
<mat-nav-list class="sidebar-nav">
    <mat-list-item routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListIcon>dashboard</mat-icon>
        <span matLine>Dashboard</span>
    </mat-list-item>

    <mat-list-item routerLink="/customer" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListIcon>group</mat-icon>
        <span matLine>Customer</span>
    </mat-list-item>

    <mat-list-item routerLink="/booking" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListIcon>book_online</mat-icon>
        <span matLine>Booking</span>
    </mat-list-item>
</mat-nav-list>