<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="About">
      <p>
        MaidForYou is a smart service–management platform designed to simplify and
        streamline household and professional cleaning services. It allows users to
        book trusted cleaners, track service schedules, manage payments, and monitor
        service history — all from one intuitive dashboard.
        The platform focuses on reliability, transparency, and convenience, making it
        easier for customers and service providers to stay connected and organized.
      </p>
    </app-card>
  </div>
</div>