.dashboard-container {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    mat-sidenav-container {
        height: 100%;
        width: 100%;
        display: flex;
    }

    mat-sidenav {
        width: 220px;
        background-color: #1a237e;
        color: white;
        border-radius: 0 !important;
        height: 100%;
        padding-top: 64px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    mat-sidenav-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1;

    }

    .main-content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    app-navbar {
        flex-shrink: 0;
    }


    .content-area {
        flex: 1 1 auto;
        overflow-y: auto;
        padding: 16px;
        background-color: #f5f5f5;
    }
}