.booking-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px;
}

.booking-card {
    max-width: 600px;
}

.no-bookings-message {
    text-align: center;
    color: gray;
    margin-top: 20px;
}