<div class="register-container">
    <h2>Create Account</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName" placeholder="John Doe" />
            <mat-error *ngIf="form.get('fullName')?.hasError('required')">
                Full name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="example@email.com" />
            <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('email')">Enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="********" />
            <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('minlength')">Minimum 6 characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
                <mat-option value="User">User</mat-option>
                <mat-option value="Admin">Admin</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="form.invalid || loading">
            <ng-container *ngIf="!loading">Register</ng-container>
            <ng-container *ngIf="loading">
                <mat-progress-spinner diameter="20" mode="indeterminate" color="accent"
                    [strokeWidth]="3"></mat-progress-spinner>
            </ng-container>
        </button>
    </form>

    <p>
        Already have an account? <a [routerLink]="['/login']">Login</a>
    </p>
</div>